/* App.css */
$backgroundImagePath :"./assets/background.jpg";

body {
  margin: 0;
  padding: 20px 40px;
  font-family: 'Saira Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  // background-image: url(#{$backgroundImagePath});
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* Background image for the pseudo-element */
  // background-image: url(#{$backgroundImagePath});
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.2;
  z-index: -1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}